extends ../base
block title
    | questionnaire_test
block main    
    .navbar.navbar-fixed-top
        .container
            .row
                .col-md-8.col-md-offset-2
                    .row
                        .nav
                            ul.col-md-12
                                li
                                    a(href='#qst') Личная информация
                                li
                                    a(href='#exp') Опыт
                                li
                                    a(href='#') JavaScript
                                li
                                    a(href='#') О себе
    section.qst#qst
        .container
            .row
                .col-md-12.text-center
                    h1.qst-h1.h1 Анкета
                .col-md-12.text-center
                    .qst-i
                .col-md-12.text-center
                    h2.qst-h2.h2 Личная информация
                .col-md-12.qst-forms
                    .row
                        .col-md-6.col-md-offset-3.qst-inp-f
                            input.form-control.qst-name(type='text' placeholder='ФИО')
                        .col-md-6.col-md-offset-3.qst-inp-f.qst-b
                            .input-group.date.qst-inp-f
                                input.qst-date.form-control(type='text' placeholder='Год рождения')
                                span.input-group-addon
                                    i.glyphicon.glyphicon-th
                        .col-md-6.col-md-offset-3.qst-inp-f.qst-b
                            input.form-control.qst-name(type='text' placeholder='Место проживания')
                        .col-md-6.col-md-offset-3.qst-inp-f.qst-b
                            input.form-control.qst-name(type='text' placeholder='Skype')
                        .col-md-6.col-md-offset-3.qst-inp-f.qst-b
                            input.form-control.qst-name(type='text' placeholder='E-mail')
    section.exp#exp
        .container
            .row
                .col-md-12.text-center
                    .exp-i
                .col-md-12.text-center
                    h2.exp-h2.h2 Расскажите о своем опыте
                .col-md-12.exp-chboxes
                    .row
                        .col-md-2.col-md-offset-2
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='' checked)
                                label.exp-chboxes-label БЭМ/OOCSS                            
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='' checked)
                                label.exp-chboxes-label Stylus/LESS/SASS
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='')
                                label.exp-chboxes-label Работаю с SVG
                        .col-md-3.col-md-offset-1
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='' checked)
                                label.exp-chboxes-label Верстаю семантично                            
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='')
                                label.exp-chboxes-label ES2015/ES2016
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='' checked)
                                label.exp-chboxes-label Gulp/GRUNT
                        .col-md-2.col-md-offset-1
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='' checked)
                                label.exp-chboxes-label Webpack                            
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='' checked)
                                label.exp-chboxes-label jQuery
                            .checkbox
                                input.exp-chboxes-input(type='checkbox' value='' checked)
                                label.exp-chboxes-label Ипользую Git


