extends ../base
block title
    | questionnaire_test
block main    
    .navbar.fixed-top
        .container
            .row
                .col-md-8.col-md-offset-2
                    .row
                        .nav
                            ul.col-md-12
                                li
                                    a(href='#') Личная информация
                                li
                                    a(href='#') Опыт
                                li
                                    a(href='#') JavaScript
                                li
                                    a(href='#') О себе
    section.qst
        .container
            .row
                .col-md-12.text-center
                    h1.qst-h1.h1 Анкета
                .col-md-12.text-center
                    .qst-i
                .col-md-12.text-center
                    h2.qst-h2.h2 Личная информация
                .col-md-12.qst-forms
                    .row
                        .col-md-6.col-md-offset-3.qst-inp-f
                            input.form-control.qst-name(type='text' placeholder='ФИО')
                        .col-md-6.col-md-offset-3.qst-inp-f
                            .input-group.date
                                input.form-control(type='text' placeholder='Год рождения')
                                span.input-group-addon
                                    i.glyphicon.glyphicon-th


