extends ../base
block title
    | questionnaire_test
block main    
    .navbar.fixed-top
        .container
            .row
                .col-md-8.col-md-offset-2
                    .row
                        .nav
                            ul.col-md-12
                                li
                                    a.navbar-a(href='#') Личная информация
                                li
                                    a.navbar-a(href='#') Опыт
                                li
                                    a.navbar-a(href='#') JavaScript
                                li
                                    a.navbar-a(href='#') О себе





